
{% extends 'baseback.html.twig' %}
{% block content %}
<html>
<head>
    <title>class</title></head>
<body>



<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
                <div class="container">
                    <div class="row d-flex align-items-stretch no-gutters">
                        <h1>List of pupils</h1>
                        <table border="1">
                            <tr>
                                <th>Classes Name</th>
                                <th>Number of Pupils</th>

                            </tr>
                        {% for classe in classe  %}
<tr>

                           <td>{{ classe.nom }}</td>

                                <td>{{ classe.nbPupils }}</td>


                                <td><a  href="{{ path('class_delete',{"id":classe.id}) }}">Delete</a></td>
                                <td><a  href="{{ path('class_update',{"id":classe.id}) }}">Update</a></td>


                        {% endfor %}

</tr>
                        </table>
                    </div> </div> </section></div> </section> </section>


</body>

</html>
{% endblock %}
