{% extends 'baseback.html.twig' %}
{% block content %}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
                <div class="container">
                    <div class="row d-flex align-items-stretch no-gutters">
                        <h3>Update Time Table</h3>
                        <fieldset style="width: 30%">
{{ form (form) }}
                        </fieldset></div> </div> </section></div> </section> </section>

{% endblock  %}




